body {background-color: beige;}

.jumbotron {text-align: center;
		font-family: fantasy;
		background-color: #649961;

		}

h1 ul li{display: inline;}

h2 {text-align: center;
		font-family:fantasy;

		}

p {font-size: 20px;}		

#sub {text-align:center;
			font-style: italic;
			font-size: 25px;
}
#back{background-color: #666557;
			color: white;
			font-size: 90px;
			height:60px;


		}
#border{
	border:5px solid #666557;
}

#content{ padding:30px;

}

#intro{
	font-family:fantasy;
	font-size:25px;
}


.panel-title{
	font-family:fantasy;
	font-size:25px;
	color:#666557;

}
.panel-body{
background-color:#666557;

}
.pics {text-align: center;

				}	

.text {font-size: 25px;
				font-family: fantasy;}			

div p img {width: 300px;
					 height:200px;
					}	

.fonts {font-family: cursive;
				font-size: 30px;


}
p a {color: white;
			background-color:#666557;
			font-family: fantasy;
				

}	
#nav {
	background-color:#666557;
}